<div class="actions">
  <%= link_to 'Back', students_path %>
</div>

<p id="notice"><%= notice %></p>

<div>
  <h3>Info</h3>

  <p>
    <strong>First name:</strong>
    <%= @student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @student.last_name %>
  </p>

  <p>
    <strong>Ugid:</strong>
    <%= @student.ugid %>
  </p>
</div>

<div>
  <h3>Roles</h3>

  <p>
    <strong>Roles:</strong>
  </p>
  <% @student.roles.each do |role| %>
      <p>
        <%= role.name %>
      </p>
  <% end -%>
  <p>
</div>

<div>
  <h3>Positions</h3>
  <p>
    <strong>
      Positions:
    </strong>
  </p>

  <p>
    <% @student.positions.each do |position| %>
      <p>
        <%= position.name %>
      </p>
  <% end -%>
  </p>
</div>

<div>
  <h3>Privileges</h3>
  <p>
    <strong>
      Privileges:
    </strong>
  </p>

  <p>
    <% @student.privileges.each do |privilege| %>
      <p>
        <%= privilege.name %>
      </p>
  <% end -%>
  </p>
</div>
