<div class="actions">
  <%= link_to 'Back', students_path %> |
  <%= link_to 'Destroy', @student, method: :delete, data: {confirm: "Are you sure you want to destory the records for #{@student.first_name} #{@student.last_name}?"} %>
  <% if @student.errors.any? %>
      <% @student.errors.full_messages.each do |msg| %>
          <span class="error"><%= msg %></span>
      <% end %>
  <% end %>
  <span id="notice"><%= notice %></span>
</div>


<div class="students">
  <div>
    <h2>Info</h2>
    <table>
      <%= form_for(@student) do |f| %>
          <tr>
            <td>First name</td>
            <td><%= f.text_field :first_name, placeholder: 'Enter first name' %></td>
          </tr>
          <tr>
            <td>Last name</td>
            <td><%= f.text_field :last_name, placeholder: 'Enter last name' %></td>
          </tr>
          <tr>
            <td>UGID</td>
            <td><%= f.text_field :ugid, placeholder: 'Enter UGID' %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit 'Update' %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div>
    <h2>Roles</h2>
    <%= form_tag add_role_student_path do %>
        <table>
          <tr>
            <td>Name</td>
            <td></td>
          </tr>
          <% @student.roles.each do |role| %>
              <tr>
                <td><%= link_to(role.name, role) %></td>
                <td><%= link_to 'Remove', action: :remove_role, role_id: role.id %></td>
              </tr>
          <% end %>
          <tr>
            <td>
              <input type="text" name="role_name" list="roles" placeholder="Enter name">
              <datalist id="roles">
                <%= (Role.all - @student.roles).each do |role| %>
                    <option value="<%= role.name %>"></option>
                <% end %>
              </datalist>
            </td>
            <td><%= submit_tag 'add' %></td>
          </tr>
        </table>
    <% end %>
  </div>

  <div>
    <h2>Privileges</h2>
    <%= form_tag add_privilege_student_path do %>
        <table>
          <tr>
            <td>Name</td>
            <td></td>
          </tr>
          <% @student.privileges.each do |privilege| %>
              <tr>
                <td><%= link_to(privilege.name, privilege) %></td>
                <td><%= link_to 'Remove', action: :remove_privilege, role_id: privilege.id %></td>
              </tr>
          <% end %>
          <tr>
            <td>
              <input type="text" name="priv_name" list="privs" placeholder="Enter name">
              <datalist id="privs">
                <%= (Privilege.all - @student.privileges).each do |priv| %>
                    <option value="<%= priv.name %>"></option>
                <% end %>
              </datalist>
            </td>
            <td><%= submit_tag 'add' %></td>
          </tr>
        </table>
    <% end %>
  </div>

  <div>
    <h2>Positions</h2>
    <table>
      <tr>
        <td>Name</td>
        <td></td>
      </tr>
      <% @student.positions.each do |position| %>
          <tr>
            <td><%= link_to(position.name, position) %></td>
            <td><a href="#">Delete</a></td>
          </tr>
      <% end %>
      <tr>
        <td colspan="2">Positions need to be added in DFUNKT.</td>
      </tr>
    </table>
  </div>
</div>