<div class="column <%= title %>">
	<h1><%= title %></h1>
	<table>
		<thead>
			<tr>
				<th></th>
				<th></th>
				<% things[:columns].each do |key| %>
					<th><%= key.gsub("_", " ").titleize %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% things[:marked].each do |thing| %>
				<%= render "shared/row", thing: thing, mark: things[:top] ? "topmark" : "mark", columns: things[:columns], main: main %>
			<% end %>
			<% things[:rest].each do |thing| %>
				<%= render "shared/row", thing: thing, columns: things[:columns], mark: "", main: main %>
			<% end %>
			<tr class="row new">
				<%= form_tag("/" + url, method: "post") do %>
					<td class="change">
						<%= submit_tag("✓", title: "Create") %>
					</td>
					<td></td>
					<% things[:columns].each do |column| %>
						<!-- needs to be without whitespace for css :empty-->
						<td class="new"><% if column != "updated_at" %>
							<input name="<%= column %>" class="new" size="15">
						<% end %></td>
					<% end %>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>