<tr class="row <%= mark %>">
	<%= form_tag do %>
		<td class="change">
			<% if !main %>
				<% if mark != "" %>
					<%= submit_tag("-", title: "Unassign") %>
				<% else %>
					<%= submit_tag("+", title: "Assign") %>
				<% end %>
			<% end %>
		</td>
		<td class="change">
			<%= submit_tag("×", class: "remove", title: "Remove") %>
		</td>

		<%= hidden_field_tag(:id, thing[:id]) %>
		
		<% columns.each do |key| %>
			<% value = thing[key] %>
			<% rv = value.to_s.slice(0, 15) %>
			<td>
				<% if value.class == ActiveSupport::TimeWithZone %>
					<%= value.to_datetime.to_date.iso8601 %>
				<% else %>
					<%= link_to(rv || "", thing) %>
				<% end %>
			</td>
		<% end %>
	<% end %>
</tr>
