<%= form_for(@role) do |f| %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Default term ends</th>
        <th>Students</th>
        <th>Privileges</th>
        <th>Positions</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td><%= Date.today.change(month: role.default_term_end) if role.default_term_end != nil %></td>
            <td>
              <% role.role_assignments.map(&:student).each do |student| %>
                <%= link_to(student.first_name + ' ' + student.last_name, student) %>,
              <% end %>
            </td>
            <td>
              <% role.privileges.each do |priv| %>
                  <%= link_to priv.name, priv %>,
              <% end %>
            </td>
            <td>
              <% role.positions.each do |position| %>
                  <%= link_to position.name, position %>,
              <% end %>
            </td>
            <td><%= link_to 'Details', role %></td>
            <td><%= link_to 'Destroy*', role, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      <tr>
        <td><%= f.text_field :name, {placeholder: 'Name'} %></td>
        <td class="nope"></td>
        <td class="nope"></td>
        <td><%= f.submit 'Create' %></td>
      </tr>
      </tbody>
    </table>
<% end %>

<p>* Revoke all privileges associated with that role for students that have this role and are <b>not</b> cherry-picked.
</p>