<div class="actions">
  <%= link_to 'Back', roles_path %> |
  <%= link_to 'Destroy', @role, method: :delete, data: {confirm: "Are you sure you want to destory the records for #{@role.name}?"} %>
  <% if @role.errors.any? %>
      <% @role.errors.full_messages.each do |msg| %>
          <span class="error"><%= msg %></span>
      <% end %>
  <% end %>
  <span id="notice"><%= notice %></span>
</div>

<div class="layoutlayout">
  <div>
    <h2>Info</h2>
    <table>
      <%= form_for(@role) do |f| %>
          <tr>
            <th>Name</th>
            <td><%= f.text_field :name, placeholder: 'Enter name' %></td>
          </tr>
          <tr>
            <th>Created at</th>
            <td><%= @role.created_at %></td>
          </tr>
          <tr>
            <th>Updated at</th>
            <td><%= @role.updated_at %></th>
          </tr>
          <tr>
            <th>Default term end*</th>

            <td>
              <% if @role.default_term_end %>
                  <%= select_month(Date.today.change(month: @role.default_term_end), field_name: :default_term_end, include_blank: true, prefix: :role) %>
              <% else %>
                  <%= select_month(0, field_name: :default_term_end, include_blank: true, prefix: :role) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit 'Update' %></td>
          </tr>
      <% end %>
    </table>
  </div>
  <div>
    <h2>Students</h2>
    <%= form_tag add_student_role_path do %>
        <table>
          <tr>
            <th>Name</th>
            <th>Expires**</th>
            <th></th>
          </tr>
          <% @role.role_assignments.each do |assignment| %>
              <tr>
                <td><%= link_to assignment.student.first_name + ' ' + assignment.student.last_name, assignment.student %></td>
                <td><%= assignment.expires %></td>
                <td><%= link_to 'Remove', action: :remove_student, student_id: assignment.student_id %></td>
              </tr>
          <% end %>
          <tr>
            <td>
              <input type="text" name="student_name" list="student" placeholder="Enter name">
              <datalist id="student">
                <%= (Student.all - @role.role_assignments.map(&:student)).each do |student| %>
                    <option value="<%= student.first_name + ' ' + student.last_name %>"></option>
                <% end %>
              </datalist>
            </td>
            <td><%= date_field '', 'expire', include_blank: true %></td>
            <td><%= submit_tag 'Add' %></td>
          </tr>
        </table>
    <% end %>
  </div>
  <div>
    <h2>Privileges</h2>
    <%= form_tag add_privilege_role_path do %>
        <table>
          <tr>
            <th>Name</th>
            <th>Expires**</th>
            <th></th>
          </tr>
          <% @role.privilege_assignments.each do |assignment| %>
              <tr>
                <td><%= link_to(assignment.privilege.name, assignment.privilege) %></td>
                <td><%= assignment.expires %></td>
                <td><%= link_to 'Remove', action: :remove_privilege, privilege_id: assignment.privilege.id %></td>
              </tr>
          <% end %>
          <tr>
            <td>
              <input type="text" name="priv_name" list="privs" placeholder="Enter name">
              <datalist id="privs">
                <%= (Privilege.all - @role.privileges).each do |priv| %>
                    <option value="<%= priv.name %>"></option>
                <% end %>
              </datalist>
            </td>
            <td><%= date_field '', 'expire', include_blank: true %></td>
            <td><%= submit_tag 'Add' %></td>
          </tr>
        </table>
    <% end %>
  </div>
  <div>
    <h2>Positions</h2>
    <%= form_tag add_position_role_path do %>
        <table>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          <% @role.positions.each do |position| %>
              <tr>
                <td><%= link_to(position.name, position) %></td>
                <td><%= link_to 'Remove', action: :remove_position, position_id: position.id %></td>
              </tr>
          <% end %>
          <tr>
            <td>
              <input type="text" name="position_name" list="positions" placeholder="Enter name">
              <datalist id="positions">
                <%= (Position.all - @role.positions).each do |pos| %>
                    <option value="<%= pos.name %>"></option>
                <% end %>
              </datalist>
            </td>
            <td><%= submit_tag 'Add' %></td>
          </tr>
        </table>
    <% end %>
  </div>
</div>

<p>* Default term end can be left blank and then be active indefinite.</p>
<p>** Expire can be left blank and will then default to default term end.</p>

<!-- TODO add refocus feature -->